.ps-menu-button {
  &:hover {
    background: transparent !important;
  }
}
.ps-submenu-content {
  background: #447df7;
}
.css-w8h1m5 {
  overflow-y: initial !important;
  overflow-x: initial !important;
}
