.sidebar {
  // width: 80px !important;
  // min-width: 80px !important;
  z-index: 200;
  transition: 0.2s all ease-in-out;
  position: fixed !important;
  top: 0;
  bottom: 0;
  min-height: 100lvh;
  height: 100%;

  @media (max-width: 1200px) {
    width: 0;
    min-width: 0;
  }

  &:hover {
    // @media (min-width: 1200px) {
    //   width: 260px !important;
    //   min-width: 260px !important;
    // }

    .content {
      opacity: 1;
      transform: translate3d(0px, 0, 0);
    }
    .menuText {
      opacity: 1;
      display: flex;
    }

    .menuItem,
    .submenu,
    .arrow {
      opacity: 1;
    }

    .title,
    .subTitle {
      opacity: 1;
    }
  }
}

.overlay {
  z-index: 99;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.link {
  display: flex;
  align-items: center;
  cursor: pointer;

  line-height: 15px;
  padding: 10px;
  margin: 5px;
  background: transparent;

  opacity: 0.86;
  border-radius: 4px;

  line-height: 31px;
  font-size: 12px;
  font-weight: 600;

  @media (max-width: 960px) {
    padding: 2px 5px !important;
    margin: 2px 5px !important;
  }
}
.menuItem {
  display: flex;
  flex: 1;
  overflow-x: hidden;
  flex-wrap: nowrap;
  opacity: 0;
  transition: 0.2s;
  min-width: max-content;
}
.logout {
  display: none;

  @media (max-width: 1200px) {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    margin-top: 30px;
    width: 100%;
  }
}
.content {
  white-space: nowrap;
  color: #fff;
  font-weight: 400;
}
.routeIcon {
  height: 24px;
  width: 24px;
  margin-left: 8px;
  margin-right: 10px;

  @media (max-width: 960px) {
    height: 20px;
    width: 20px;
  }
}
