.new {
  background: #ccdfff;
  color: #4779cc;
}
.received {
  background: #fff5eb;
  color: #fb7e15;
}
.done {
  background: #f0fffa;
  color: #0da06a;
}
.denied {
  background: #fff5f5;
  color: #f34a7c;
}
.processed {
  background: #d5d5d5;
  color: #797979;
}
