.container_wrapper {
  .ant-table-title {
    padding: 0 !important;
  }

  table {
    > thead,
    th {
      text-align: center !important;
      background-color: #151c28 !important;
      color: white !important;
      padding: 10px !important;
    }

    > tbody,
    td {
      border-right: 2px solid #fafafa;
      padding: 10px !important;
      text-overflow: ellipsis;
    }

    > tfoot > tr > td {
      padding: 0 !important;
    }
  }

  .actions_container {
    display: flex;

    > div {
      width: 50%;
      text-align: center;
      cursor: pointer;
      text-transform: uppercase;
      font-size: 12px;
    }

    .delete_container {
      color: #a76262 !important;
    }

    .edit_container {
      color: #7ca97c !important;
    }
  }
}
