@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --mainBlack: #151c28;
  --mainGreen: #0da06a;
  --tgPrimary: #dcc38b;
  --tgBrown: #bea087;
  --tgSelected: #aac183;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

a {
  font-weight: 500;
  // color: #646cff;
  text-decoration: inherit;
}

body {
  min-width: 320px;
  background: #f5f6f9;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.css-13cymwt-control {
  border-radius: 12px !important;
}

table {
  font-size: 14px;
  width: 100%;

  tbody {
    tr {
      td,
      th {
        padding: 7px 5px;
      }
    }
  }

  &.gray {
    background: #151c2814;
  }

  &.bordered.gray {
    & td,
    th {
      border: 1px solid white;
    }
  }
}

::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar:horizontal {
  height: 4px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.ant-table-title {
  padding: 0 !important;
}

.ant-table-header {
  overflow: visible !important;
}

.ant-picker-dropdown .ant-picker-panel-container .ant-picker-panels {
  display: inline-flex !important;
  animation: none !important;
  flex-wrap: nowrap !important;
  direction: ltr !important;
  @media (max-width: 768px) {
    display: inline-grid !important;
  }
}
